.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description.line-clamp-4 {
    -webkit-line-clamp: 4;
}

.mh-448 {
    max-height: 448px !important;
}

.max-vh-55 {
    max-height: 55vh !important;
}

.fs-20 {
    font-size: 20px !important;
}