.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description.line-clamp-4 {
    -webkit-line-clamp: 4;
}

.mh-448 {
    max-height: 448px !important;
}

.max-vh-55 {
    max-height: 55vh !important;
}

.fs-20 {
    font-size: 20px !important;
}

.background-smartphone {
    background-image: url('../storage/uploads/category-smartphone.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.background-tablet {
    background-image: url('../storage/uploads/category-tablet.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.vendor-carousel .h-166 {
    height: 166px;
}